<div class="large-12 columns">
  <div id="interactions" class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Method</th>
            <th>Status</th>
            <th>Type</th>
            <th>Requested At</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="interaction-detail" class="row">
  <div class="large-12 columns">
    <a class="close" href="#">x</a>
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#headers">Headers</a></dd>
      <dd><a href="#preview">Preview</a></dd>
      <dd><a href="#response">Response</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="headers"></div>
      <div class="content" id="preview"></div>
      <div class="content" id="response"></div>
    </div>
  </div>
</div>


